* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  background: white; }

body {
  width: 100%;
  max-width: 100%; }

.container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  background: red; }
  .container:last-child {
    margin-right: 0; }
