body {
  background: red;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #ffa500));
  background-image: -webkit-linear-gradient(bottom, #ff0000, #ffa500);
  background-image: linear-gradient(to top,#ff0000, #ffa500); }

ul {
  background: white; }
