@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
body {
    @include media (mobile); {
        @include span-columns(4);
        background: gray;
    }
    @include media (tablet); {
        @include span-columns(8);
        background: gray;
    }
}
.container {
    @include outer-container;
    background: red;
}